apiVersion: v1
kind: Service
metadata:
  name: user-management-service
  namespace: visionboard
  labels:
    app: user-management-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: user-management-service

---
apiVersion: v1
kind: Service
metadata:
  name: user-management-service-headless
  namespace: visionboard
  labels:
    app: user-management-service
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: user-management-service